body
{
	background-color:#17310e;
	font-family: sans-serif
}

img
{
	border:0px;
}

#main_column
{
	background-color:#fff0cc;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	padding:1em;
}

table.floating_image
{
	float:left;
	border: 1px solid black;
	margin: 1em;
}

span.caption
{
	font-style:italic;
	font-size:0.8em;
	text-align:justify;
}

#screenshot_table
{
	width:80%;
}

#screenshot_table td
{
	text-align:center;
	vertical-align:top;
	padding:1em;
}

h2 { color:#345d01; }
h3 { color:#5c9002; }

#toc
{
	list-style-type:lower-roman;
}

#toc ol
{
	list-style-type:lower-greek;
}
